body{
    background-color: black;
}
.homeImage{
    width: 100%;
    height: 100%;
    /*background-image: url(../images/mask8.png);*/
    background-color: #241b3d;
    padding: 0px !important;
}
.container-fluid{
    padding: 0px !important;
}
.clear-padding{
    padding: 0px !important;
}
.menuBar{
    width: 100px;
    height: 100vh;
    height: 100px;
    position: absolute !important;
    z-index: 100;
    height: 100vh;
    background-color: #0b0226;
}
.menuBarItems{
    position:absolute !important; 
    left:85px; right:0;
    top:60px; bottom:0;
    margin:auto;
    height: 68vh;
}
.rowHeight{
    height: 100vh;
}
#menuIcon{
    width: 27px;
    height: 45px;
    position: relative; 
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-left: -3px;
    margin-top: -4px;
}

#menuIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background:#fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menuIcon span:nth-child(even) {
  left: 50%;
}

#menuIcon span:nth-child(odd) {
  left:0px;
}

#menuIcon span:nth-child(1), #menuIcon span:nth-child(2) {
  top: 0px;
}

#menuIcon span:nth-child(3), #menuIcon span:nth-child(4) {
  top: 8px;
}

#menuIcon span:nth-child(5), #menuIcon span:nth-child(6) {
  top: 16px;
}

#menuIcon.open span:nth-child(1),#menuIcon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menuIcon.open span:nth-child(2),#menuIcon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menuIcon.open span:nth-child(1) {
  left: 2px;
  top: 7px;
}

#menuIcon.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 7px;
}

#menuIcon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#menuIcon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#menuIcon.open span:nth-child(5) {
  left: 2px;
  top: 16px;
}

#menuIcon.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 16px;
}

.logoContainer{
    height: 100vh;
    width: 7%;
    color: #fff;
}
.menuIconContainer{
    position: absolute;
    text-align: center;
    cursor: pointer;
    width: 39px;
    height: 39px;
    padding-top: 10px;
    top: 50%;
    left: 36%;
}
.menuSlide1{
    -ms-transform: rotate(20deg); 
    -webkit-transform: rotate(20deg); 
    transform: rotate(20deg);
    transition: .25s ease-in-out;
}
.menuSlide2{
    -ms-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg); 
    transform: rotate(-20deg);
    transition: .25s ease-in-out;
}
.navBar{
    padding-top: 100px !important;
}
.nav-item a {
    color: aliceblue !important;
    font-size: 28px;
    text-transform: uppercase;
}
.sliderDiv{
    height: 100vh;
    float: left;
    display: table;
}
.carousel .carousel-item {
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: center;
    
}
#carouselExampleIndicators{
    display: table-cell;
    vertical-align: middle;
}
.carousel .carousel-item:first-of-type {
    background-image: url(../images/bird.png);;
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url(../images/bird1.png);
}

.carousel .carousel-item:last-of-type {
    background-image: url(../images/bird2.png);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}
.col-2{
    height: 200px;
    background-color: #fff;
    padding: 0px !important;
    float: left;
}
.smallBox {
    height: 100px;
    float: left;
}
.darkPurple{
    background-color:#2c142c;
}
.color-black{
    background-color:#130113;
}
.color-white{
    background-color:#ffffff;
}
.color-gray{
    background-color: #928891;
}
.col-2-image{
    background: url(../images/small.jpg);
    background-size: cover;
}
.light-Purple{
    background-color: #422c41;
}
.light-blue{
    background-color: #00769e;
}
.dark-pink{
    background-color: #7c1163;
}
.dark-gray{
    background-color:#3f3f3f
}
.dark-orange{
    background-color: #f5902d
}
.color-pink{
    background-color: #e81e52
}



.menuHolder{
    position: absolute;
    width: 25%;
    height: 100vh;
    background-color: #543383;
    display:none;
}
.menuHolder .navbar-horizontal{
    padding: 100px 0px 0px 150px;
}
.navbar-horizontal li {
    list-style: none;
}
.navbar-horizontal li a{
    color:#fff;
    font-size: 30px;
}
#services{
    width: 100%;
    height: 100vh;
    background-color: #00769e;
    position: absolute;
    top: 0;
    display: none;
}
.design{
    /*background-image: url(../images/1.jpg);*/
    width: 100% !important;
    height: 99.9vh;
    background-color: #48abbe;
    float: left;
}
.advertising{
    width: 100% !important;
    height: 99.9vh;
    background-color:  #f3724a;
    float: left;
}
.digitalmarketing{
    width: 100% !important;
    height: 99.9vh;
    background-color:  #e0ab4b;
    float: left;
}
      

